CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DATABASE_URL=

TEST_USER_EMAIL=
TEST_USER_PASSWORD=

BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
