anyio==3.6.2
debugpy==1.6.7
decorator==5.1.1
Django
django-countries==7.6.1
django-taggit==5.0.1
djangorestframework==3.15.2
django-firebase-auth
firebase-admin==6.6.0
importlib-metadata==6.6.0
pexpect==4.8.0
setuptools